apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:

      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'jenkins'
        metrics_path: /prometheus
        static_configs:
          - targets: ['jenkins.devops.svc.cluster.local:8080']

      - job_name: 'spring-app'
        metrics_path: /actuator/prometheus
        static_configs:
          - targets: ['spring-app.devops.svc.cluster.local:8080']
